#nav {
	float: left;
	background-color: #ffad33;
	height: 200px;
	border-radius: 5px;
	margin-top: 5px;
	display: inline-block;
}

img {
	width: 400px;
	height: 300px;
	right: 0;
	display: inline-block;

}

ul{
	padding: 5px;
}

li{
	padding: 5px;
}

#pages {
	max-width: 900px;
	position: relative;
	margin: auto;
}

#main p {
	color: black;
	font-weight: 300px;
	font-family: Arial;
}

#main {
	background-color: white;
	height: 200px;
	padding-left: 5px;
}